<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			name="Open Explorer"
			class="com.tlcsdm.eclipse.minimap.preferences.HomePreferencePage"
			id="com.tlcsdm.eclipse.minimap.preferences.HomePreferencePage">
		</page>
		<page
			id="com.tlcsdm.eclipse.minimap.preferences.FMPreferencePage"
			class="com.tlcsdm.eclipse.minimap.preferences.FMPreferencePage"
			name="File Manager"
			category="com.tlcsdm.eclipse.minimap.preferences.HomePreferencePage">
		</page>
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="com.tlcsdm.eclipse.minimap.preferences.PreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.help.toc">
		<toc file="help/help_toc.xml" primary="true"/>
	</extension>
	   <extension
          point="org.eclipse.help.contexts">
      <contexts
            file="help/help_contexts.xml"
            plugin="com.tlcsdm.eclipse.minimap">
      </contexts>
   </extension>

</plugin>
