<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.pde.ui"
            class="com.tlcsdm.eclipse.minimap.view.MinimapView"
            icon="icons/icon16.png"
            id="com.tlcsdm.eclipse.minimap.minimapView"
            name="Minimap"
            restorable="true">
      </view>
    </extension>
    <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.pde.ui.PDEPerspective">
         <viewShortcut
               id="com.tlcsdm.eclipse.minimap.minimapView">
         </viewShortcut>
         <view
               id="com.tlcsdm.eclipse.minimap.minimapView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="false">
         </view>
      </perspectiveExtension>
    </extension>
	<extension point="org.eclipse.ui.preferencePages">
       <page
            class="com.tlcsdm.eclipse.minimap.preferences.MinimapPreferencePage"
            id="com.tlcsdm.eclipse.minimap.preferences.minimapPreferencePage"
            name="Minimap">
       </page>
	</extension>
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="com.tlcsdm.eclipse.minimap.preferences.PreferenceInitializer">
		</initializer>
	</extension>
	
	<extension point="org.eclipse.help.toc">
		<toc file="help/help_toc.xml" primary="true"/>
	</extension>
	   <extension
          point="org.eclipse.help.contexts">
      <contexts
            file="help/help_contexts.xml"
            plugin="com.tlcsdm.eclipse.minimap">
      </contexts>
   </extension>

</plugin>
